@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css");
@import url("https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-video.css");
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
  font-size: 16px;
  background: rgb(65, 65, 151);
  color: #fff;
  padding: 0 5px;
  vertical-align: bottom;
  margin-left: 10px;
}

.lg-thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bebebe;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.loader {
  width: 52px;
  height: 52px;
  border: 4px solid #4c6aa6;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: relative;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: 4px solid #ff0000;
    border-right: 4px solid #ff0000;
    position: absolute;
    top: 5px;
    left: -5px;
    box-shadow: 4px -4px 0 4px transparent;
  }

  &:after {
    top: 35px;
    left: 35px;
    border: none;
    border-bottom: 4px solid #ff0000;
    border-left: 4px solid #ff0000;
    box-shadow: -4px 4px 0 4px transparent;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 100px 0 0 0;
  transform-origin: 40% 40%;
  animation: rotation 3s infinite linear;
}

.search__glass {
  position: relative;
  width: 110px;
  height: 110px;
  border: solid 1px #4c6aa6;
  border-radius: 50%;
  overflow: hidden;
  animation: rotation 3s infinite linear reverse;
  box-shadow: -3px 5px 20px -9px #000;
}

.search__glass:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(160, 160, 160, 0.17) 0%,
    rgba(185, 185, 185, 0.55) 100%
  );
  box-shadow: inset 0 0 0 6px #4c6aa6, inset 0px 2px 20px 1px #222;
}

.search__handle {
  width: 14px;
  height: 60px;
  margin: 0 auto;
  background-color: #4c6aa6;
  border-radius: 0 0 7px 7px;
  transform-origin: 50% -55px;
  transform: rotate(-20deg);
  animation: rotation2 3s infinite cubic-bezier(0.4, 0.5, 0.6, 0.5);
  box-shadow: -3px -5px 20px -4px #000;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation2 {
  0% {
    transform: rotate(340deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
